# Quartus-related files and directories
output_files/
db/
incremental_db/
simulation/
.qws/
*qws
*.txt
*transcript*
**done
**sld

# ModelSim-related files and directories
work/
modelsim.ini
*.wlf
*.mti

# Ignore Quartus and ModelSim project settings files (modify these as needed)
*.qsf
*.mpf
*.mpfs
*.sdc
*.do
*.vro
*.vrobjects
*.rpt
*.summary

# Ignore Quartus and ModelSim temporary files
*.sopcinfo
*.jdi
*.smsg
*.ralf
*.ralfidx

# Ignore Quartus and ModelSim generated programming files
*.pof
*.jic
*.cdf

# Ignore Quartus database files
*.qdb

# Ignore ModelSim coverage files
*.vdb

# Ignore Quartus and ModelSim log files
*.log

# Ignore Quartus and ModelSim project backups
*.bak

# Ignore Quartus and ModelSim simulation waveform files
*.wdb
*.wdo

# Ignore Quartus and ModelSim synthesis output files
*.syr
*.pin
*.sof
*.pof

# Ignore Quartus and ModelSim simulation snapshot files
*.dsn
*.sof
*.jic
